body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
}

.headings {
    font-size: 40px;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.instructions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.subhead {
    font-family: 'Courier New', Courier, monospace;
    padding: 0px 30px;
    margin: 0;
    font-size: 25px;
}

#form {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 30px;
    padding: 30px;
}

.number-input,
#submit-btn,
#clear-btn{
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

#submit-btn, 
#clear-btn {
    cursor: pointer;
}

#submit-btn {
    background-color: rgb(202, 237, 133);
    border: 2px solid yellowgreen;
}

#submit-btn:hover {
    border: 2px solid green;
    background-color: rgb(196, 239, 109);
}

#submit-btn:active {
    background-color: rgb(202, 237, 133);
    border: 2px solid yellowgreen;
    color: green;
}

#clear-btn {
    background-color: rgb(255, 214, 138);
    border: 2px solid orange;
    margin: 0px 30px;
}

#clear-btn:hover {
    background-color: rgb(250, 201, 108);
    border: 2px solid orangered;
}

#clear-btn:active {
    background-color: rgb(255, 214, 138);
    border: 2px solid orange;
    color: orangered;
}

/*
Tutorial
*/

.section-head {
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

.about-para {
    margin: 0px 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}


/*
Reference Section
*/
.reference-table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.reference-table {
    width: 90%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.reference-table th, td {
    padding: 10px;
}

.reference-table td:nth-child(odd) {
    background-color: rgb(210, 255, 141);
}

.reference-table th:nth-child(odd) {
    background-color: rgb(135, 255, 135);
}

.reference-table th:nth-child(even) {
    background-color: #f3f3f3;
}

/*
Steps
*/

#steps ol {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-left: 30px;
    line-height: 45px;
}

.steps-image {
    max-width: 700px;
    max-height: 700px;
    box-shadow: 0px 4px 8px;
    margin-bottom: 30px;
}